<!-- Esto es el footer -->
<footer>
	<!--! voy a hacer un Movimiento infinto como si fueran news-->
	<div class="scroll text">
		<div class="footer datos"></div>
		<br /><br /><br /><br /><br />
		<div class="footer datos2"></div>
		<br /><br /><br /><br /><br />
		<div class="footer datos3"></div>
		<br /><br /><br /><br /><br />
		<p class="footer">Taller de iteración 2020 | Francisco Casas</p>
	</div>
	<script src="/javascripts/java.js"></script>
</footer>
