<!--Empieza el header-->
<header>
<nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>

            <li>
                <a href="/about">Acerca de este trabajo</a>
            </li>

            <li>
                <a href="/uso">Información de uso</a>
            </li>
        </ul>
    </nav>
    </header>