<!--Empieza el header-->
<header>
<nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
                <span>¿Deseas ir al inicio?</span>
            </li>

            <li>
                <a href="/about">Acerca de este trabajo</a>
                <span>Inspiraciones, Bitácora y Referencias</span>
            </li>

            <li>
                <a href="/uso">Información de uso</a>
                <span>Entra y te lo explicamos todo</span>
            </li>
        </ul>
    </nav>
    </header>