<!--Empieza el header-->
<header class="header">
    <nav class="navigation">    
        <a href="/">Inicio </a>
        <a href="" class="palito">|</a>
        <a class="seg" href="/about">Acerca de este trabajo</a>
        <a href="/uso">Información de uso</a>
    </nav>
</header>