<!DOCTYPE html>
<html>
  <head>
    <title>Entrega iteracion</title>
    <meta charset="utf-8">
    <!-- CSS --> <!-- Copiar en todos-->
    <link rel='stylesheet' href='/stylesheets/header.css'/> 
    <link rel='stylesheet' href='/stylesheets/footer.css'/>
    <link rel='stylesheet' href='/stylesheets/historia.css'/>
     <!--FONTS--> <!-- Copiar en todos-->
     <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,500&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,500&family=Source+Sans+Pro:wght@300;400;700;900&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
<!--Si no se usa Font Awesome se tiene que comentar, lo mismo con ulkit
    <script src="https://kit.fontawesome.com/8bb78a721a.js" crossorigin="anonymous"></script>
-->
    <!-- UIkit  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/css/uikit.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
-->
  </head>
  <!--ACA VA EL HEADER-->
  <%- include('../partials/head') %>
  <!-- TERMINE EL HEADER, AHORA EMPIEZA EL BODY-->
  <body>
    <div class="superdiv">
    <h1 class="title">Seleccione para continuar:</h1>
    <div class="container">
      <a href="/story"><img src="/images/hyena.jpg" alt="Avatar" class="image" style="width:100%"></a>
      <div class="middle">
        <div class="text">Hiena</div>
      </div>
    </div>
    <div class="container">
      <a href="/story"><img src="/images/human.jpg" alt="Avatar" class="image" style="width:100%"></a>
      <div class="middle">
        <div class="text">Humano</div>
      </div>
    </div>
  </div>
  </body>
  <!--TERMINE EL BODY, AHORA VOY A HACER EL FOOTER-->
  <%- include('../partials/footer') %>
</html>
