<!DOCTYPE html>
<html>
	<head>
		<title>Acerca del proyecto</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/index.css" />
		<!-- CSS HEADER-->
		<link rel="stylesheet" href="/stylesheets/header.css" />
		<link rel="stylesheet" href="/stylesheets/footer.css" />

		<!--FONTS-->
		<!-- Copiar en todos-->

		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap" el="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,500&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,500&family=Source+Sans+Pro:wght@300;400;700;900&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet" />
	</head>
	<!--ACA VA EL HEADER-->
	<%- include('./partials/head') %>
	<!-- TERMINE EL HEADER, AHORA EMPIEZA EL BODY-->
	<body>
		<div class="container">
			<h1 class="cicle-title">Acerca de este trabajo</h1>
			<p class="cicle-p2">¿Quieres ver el PDF?</p>
			<a Download href="/images/Speech.pdf#toolbar" download="Speech" class="vamos"><button class="vamos-button">Descargar</button></a>
		</div>
	</body>
	<!--TERMINE EL BODY, AHORA VOY A HACER EL FOOTER-->
	<%- include('./partials/footer') %>
</html>
