<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Animation</title>
		<link rel="stylesheet" href="/stylesheets/anime.css" />
	</head>
	<body>
		<!-- ACA LE VA A IR LA ANIMACION DE LAS CAJAS-->
		<div class="stagger-visualizer"></div>
		<script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
		<script src="/javascripts/anime.js"></script>
	</body>
</html>
