<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>

</head>
<body>
<video style="height: 100%; width: 100%; object-fit: cover;" autoplay loop muted>
<!-- <source src="/images/matrix2.mp4" type="video/mp4"> -->
</video>
</body>
</html>