<!DOCTYPE html>
<html>
  <head>
    <title>Información de uso</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel='stylesheet' href='/stylesheets/header.css'/> 
    <link rel='stylesheet' href='/stylesheets/footer.css'/>
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/8bb78a721a.js" crossorigin="anonymous"></script>
    <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>

  </head>
  <!--ACA VA EL HEADER-->
  <%- include('./partials/head') %>
  <!-- TERMINE EL HEADER, AHORA EMPIEZA EL BODY-->
  <body>
        <div class="uk-padding-large container">
        <h1 class="cicle-title">Información de uso</h1>
          <div class="box1">
            <p class="cicle-p">Sumérgete en un mundo de aventuras donde <strong>tú</strong> puedes tomar las riendas de la historia. Vive el ciclo alimenticio del reino animal, toma decisiones en cada paso del camino y observa cómo se desarrolla.</p>
       <br>
            <p class="cicle-p">Decisiones: para seleccionar el rumbo de la historia, selecciona una imagen y observa hacia adonde te lleva. ¿Existe el final o es un ciclo infinito?</p>
   <br>
         <p class="cicle-p"><i class="fas fa-exclamation-triangle"></i>: Si encuentras este simbolo, no lo apretes.</p>

        </div>
        </div>
    </body>
</body>
<!--TERMINE EL BODY, AHORA VOY A HACER EL FOOTER-->
<%- include('./partials/footer') %>
</html>
