<!DOCTYPE html>
<html>
	<head>
		<title>Información de uso</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/index.css" />
		<link rel="stylesheet" href="/stylesheets/header.css" />
		<link rel="stylesheet" href="/stylesheets/footer.css" />
		<!--Los archivos de fonts deben ir despues de los css mas importantes, asi renderiza mas rapido la pagina-->
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,500&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,500&family=Source+Sans+Pro:wght@300;400;700;900&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet" />

		<!--Font Awesome-->
		<script src="https://kit.fontawesome.com/8bb78a721a.js" crossorigin="anonymous"></script>
	</head>
	<!--ACA VA EL HEADER-->
	<%- include('./partials/head') %>
	<!-- TERMINE EL HEADER, AHORA EMPIEZA EL BODY-->
	<body>
		<div class="container">
			<h1 class="cicle-title">Información de uso</h1>
			<p class="cicle-p">
				Involucrate en una realidad paralela en la <strong>tú</strong> puedas seleccionar las decisiones de tu personaje.¿Estresado?¿Cansado?Sumergirte en un juego basado en tu propia vida.<br /><br /><strong
					>Decisiones:</strong
				>
				para seleccionar el rumbo de la historia, selecciona una imagen y observa hacia adonde te lleva. ¿Existe el final o es un ciclo infinito?
			</p>
			<!-- <p class="cicle-p"><i class="fas fa-exclamation-triangle"></i> Si encuentras este símbolo, ¡no lo apretes!</p>
			-->
		</div>
	</body>
	<!--TERMINE EL BODY, AHORA VOY A HACER EL FOOTER-->
	<%- include('./partials/footer') %>
</html>
