/* estilo del footer */
footer {
	display: flex;
	position: relative;
	width: 120%;
	bottom: 0px;
	flex-direction: column;
	align-items: center;
	background: rgba(230, 0, 0, 0.8);
}

.footer {
	margin-right: 20px;
	color: white;
	font-size: 1.8em;
	text-transform: uppercase;
	text-align: center;
	text-align: justify;
	text-decoration: none;
	font-weight: bold;
	font-family: 'Bree Serif', serif;
}
.scroll {
	width: 100%;
	display: flex;
	white-space: nowrap;
	animation: animate 20s linear infinite;
	animation-delay: -20s;
}

@keyframes animate {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}
