/* estilo de navegacion */
nav.navigation {
	width: 100%;
	background-color: rgb(22, 22, 22, 0.8);
	display: flex;
	justify-content: space-around;
	column-gap: 10px;
	height: 60px;
	overflow: hidden;
	align-items: center;
}
nav.navigation a {
	font-size: 25px;
	font-family: 'Bree Serif', serif;
	color: white;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	color: rgb(190, 0, 0);
	text-decoration: none;
}
.seg {
	position: relative;
	left: 35px;
}
