/* estilo de navegacion */
.header{
    align-items: center;
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
nav.navigation {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    height: 60px;
}
.navigation a{
    background-color: cadetblue;
    height: 100%;
    align-items: center;
    text-align: center;
}
