/*BODY*/
body{
    font-family: 'Open Sans', sans-serif;
}
/*CONTAINER*/
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
    padding: 80px;
    position: relative;
}
.cicle-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    margin: 0px;
    font-size: 100px;
}
.cicle-p{
    margin: 0px;
    font-size: 50px;
}
.cicle-p2{
    font-weight: 800;
    color: black;
    font-size: 40px;
    margin: 0px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.vamos-button{
    background-color: rgba(75, 75, 75, 0.63);
    border-color: white;
    border-radius: 80px;
    color: white;
    padding: 20px;
    font-size: 60px;
}
.vamos-button:hover{
    background-color: rgba(0, 0, 0, 0.602);

}
