<!DOCTYPE html>
<html> 
  <head>
    <title>Entrega iteracion</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/historia.css'/>
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/8bb78a721a.js" crossorigin="anonymous"></script>
    <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/css/uikit.min.css" />
<!-- CSS HEADER-->
<link rel='stylesheet' href='/stylesheets/footer.css'/>
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
<script type="text/javascript src="/javascripts/java.js"> </script>
  </head>
  <!--ACA VA EL HEADER-->
  <%- include('../partials/head') %>
  <!-- TERMINE EL HEADER, AHORA EMPIEZA EL BODY-->
  <body>
    <div class="superdiv">
    <h1 class="title">Seleccione para continuar:</h1>
    <div class="container">
      <a href="#modal-center" uk-toggle><img src="/images/zooplancton.jpg" alt="Avatar" class="image" style="width:100%"></a>
      <div class="middle">
        <div class="text">zooplancton</div>
      </div>
    </div>  
<!-- ESTE ES EL MODAL -->
<!--  VOY A BORRAR LOS VIDEOS Y DESPUES CUANDO TOMY YA TERMINE CON CSS LOS SUBO
<div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>
            <video class="video" style="height: 1280; width: 720; object-fit: cover;" autoplay loop muted>
            <source src="/images/matrix.mp4" type="video/mp4">
            </video>
          <a href="/story/alga/zooplancton"><button>Confirmar eleccion!</button></a>
        </div>
        
          </div>
        
    </div>
</div>
-->
<!-- INTENTO DE MODAL!!!!-->
    <div class="container">
      <a href="/story/alga/ballena"><img src="/images/whale.jpg" alt="Avatar" class="image" style="width:100%"></a>
      <div class="middle">
        <div class="text">Ballena</div>
      </div>
    </div>
  </div>
  </body>
  <!--TERMINE EL BODY, AHORA VOY A HACER EL FOOTER-->
  <%- include('../partials/footer') %>
</html>
